---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Home from "../components/Home.astro";
import CanalesRecaudacion from "../components/CanalesRecaudacion.astro";
import CashManagement from "../components/CashManagement.astro";
import OurPlatform from "../components/OurPlatform.astro";
import Contact from "../components/Contact.astro";
import OurNetworks from "../components/OurNetworks.astro";
---

<Layout title="Bitcom-Pay">
  <main>
    <Header />
    <Home />
    <CanalesRecaudacion />
    <CashManagement />
    <OurPlatform />
    <Contact />
    <OurNetworks/>
  </main>
</Layout>
