---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Home from '../components/Home.astro';
import Home2 from '../components/Home2.astro';
import Home3 from '../components/Home3.astro';
import Home4 from '../components/Home4.astro';
import Home5 from '../components/Home5.astro';
import BotonTop from '../components/BotonTop.astro';
---

<Layout title="Bitcom-Pay">
	<main>
		<Header/>
		<Home/>
		<Home2/>
		<Home3/>
		<Home4/>
		<Home5/>
		<BotonTop/>
	</main>
</Layout>
 