---
import CashCard from "./CashCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section class="home-3 rounded-xl bg-white dark:bg-[#1A1A18]" id="home-3">
  <div class="flex flex-col items-center text-center">
    <h2 class={`text-[#6952EB] uppercase text-[1.4rem] font-[600] dark:text-[#9D8DF9] `}>Cash Management</h2>
    <p class={`font-[500] w-[66%] text-[1.8rem]`}>Evite costos tercerizando los pagos a sus proveedores, servicios e impuestos</p>
</div>
  <div class="flex flex-col md:flex-row w-full md:w-5/6 gap-3 mt-9">
    <CashCard
      title="Sin límite en cuanto a volumen y cantidad de pagos."
      items={[
        "Pago a proveedores",
        "Pago de honorarios y/o comisiones",
        "Pago de servicios y/o impuestos AFIP mediante VEP",
      ]}/>
      <CashCard
      title="Métodos de pago"
      items={[
        "Transferencias programadas.",
        "Transferencias inmediatas.",
        "Emisión de CPD electrónico.",
      ]}/>
  </div>
</section>

<style>
  .home-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 4rem 4rem;
  }

  .home-3 h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6952EB;
    text-transform: uppercase;
  }


  .home-3 p {
    font-size: 1.4rem;
    font-weight: 500;
    width: 55%;
    text-align: center;
  }
</style>
