---
interface CashCardProps {
  title: string;
  items: string[];
}
const {title, items}= Astro.props;
---

<div class="flex-1 bg-[#DEF5DD] py-10 px-4 sm:px-12 rounded-xl bg-clip-padding dark:backdrop--blur__safari dark:backdrop-filter dark:backdrop-blur-4xl dark:bg-opacity-40">
    <h1 class="font-bold sm:text-base md:text-lg lg:text-xl w-5/6 ">{title}</h1>
    <ul class="mt-4">
        {items.map((item)=>(
            <li> <img src="/images/check.svg"/>
            <span>{item}</span>
            </li>
        ))}
    </ul>
</div>

<style>
    li{
        display: flex;
        align-items: center;
        margin-top: 0.4rem;
        font-size: 1.1rem;
    }
    @media(max-width: 678px){
        li{
            font-size: 0.9rem;
        }
    }
    li img{
        width: 1.3rem;
        height: 1.3rem;
        margin-right: 0.5rem;
    }
    li span {
    display: inline-block;
    vertical-align: top; /* Alinea el texto con el borde superior */
  }
</style>