---
import CashCard from "./CashCard.astro";
import SectionTitle from "./SectionTitle.astro";
---

<section class="home-3 rounded-xl bg-white dark:bg-[#1A1A18]" id="home-3">
  <SectionTitle
    title="Cash Management"
    subtitle="Evite el costo tercerizando los pagos a sus proveedores, servicios e impuestos"
    color="text-[#7059ec]"
    />
  <div class="flex flex-col md:flex-row w-full md:w-5/6 gap-3 mt-9 2xl:max-w-7xl mx-auto">
    <CashCard
      title="Sin límite en cuanto a volumen y cantidad de pagos."
      items={[
        "Pago a proveedores",
        "Pago de honorarios y/o comisiones",
        "Pago de servicios y/o impuestos AFIP mediante VEP",
      ]}/>
      <CashCard
      title="Métodos de pago"
      items={[
        "Transferencias programadas.",
        "Transferencias inmediatas.",
        "Emisión de CPD electrónico.",
      ]}/>
  </div>
</section>

<style>
  .home-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem 2rem;
  }
  @media (max-width: 768px) {
    .home-3 {
      padding: 2rem 1rem;
    }
  }

  .home-3 h2 {
    font-size: 1.2rem;
    font-weight: 600;
    color: #6952EB;
    text-transform: uppercase;
  }


  .home-3 p {
    font-size: 1.4rem;
    font-weight: 500;
    width: 55%;
    text-align: center;
  }
</style>
