---
import { ChevronRight } from "lucide-astro";
import SectionTitle from "./SectionTitle.astro";
import FieldFrom from "./ui/FieldFrom.astro";
---

<section class="flex flex-col items-center mt-20" id="contact">
  <SectionTitle
    title="CONTÁCTENOS"
    subtitle="Seleccione el medio de contacto preferido y conversemos"
  />
  <div class="2xl:max-w-7xl mx-auto md:px-10">
    <form class="grid grid-cols2 md:grid-cols-2 md:gap-x-8">
      <FieldFrom
        label="Nombre y apellido"
        id="name"
        placeholder="Ingrese su nombre completo"
      />
      <FieldFrom
        label="CUIL/CUIT"
        id="cuil"
        placeholder="Ingrese su CUIL/CUIT"
      />
      <FieldFrom label="Mail" id="email" placeholder="Ingrese su mail" />

      <FieldFrom
        label="Empresa"
        id="company"
        placeholder="Ingrese el nombre de su empresa"
      />
      <FieldFrom label="Teléfono" id="phone" tel placeholder="" />
      <FieldFrom label="Motivo" id="motive" motive placeholder="" />
      <FieldFrom
        label="Mensaje"
        id="message"
        placeholder="Ingrese su mensaje"
        textArea
      />
      <button class="" type="submit"> Enviar <ChevronRight class="h-4" strokeWidth={1} /></button>
    </form>
  </div>
</section>

<style>

  button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 25rem;
    border: none;
    background-color: #bef0bb;
    color: #366b33;
    font-weight: 700;
    font-size: 1rem;
    padding: 0.7rem 1.2rem;
    margin-top: 2rem;
    border-radius: 9999px;
  }

  @media(max-width: 768px) {
    button {
      width: 100%;
    }
  }
</style>
