

<header class="header">
    <div class="logo-container">
    <figure>
        <img class="logo"  src="./images/logo bitcom.png" alt=""/>
    </figure>
</div>  
    <div class="menu">
    <img class="abrir-menu" id="abrir" src="./images/cerrar menu.png"/>
    <nav class=nav id="nav">
        
      <img class="cerrar-menu" id="cerrar" src="./images/cerrar menu.png" />
      
      <ul class="navlinks">
          <li>
            <a href="#home-4" class="plat">Nuestra Plataforma</a>
          </li>
          <li>
            <a href="#home-3">Servicios</a>
          </li>
          <li>
            <a href="#home-5">Contacto</a>
          </li>
          <li>
            <a href="https://bitcompay.vercel.app"><img src="/images/btnacc.png" class="btn-acceso" alt=""></a>
            </li>
          <li></li>
        </ul>
    </nav>
  </div>


    </header>

  
    <script>
      const nav = document.querySelector("#nav");
      const abrir = document.querySelector("#abrir");
      const cerrar = document.querySelector("#cerrar");
  
      abrir.addEventListener("click", () => {
          nav.classList.add("visible");
      })
  
      cerrar.addEventListener("click", () => {
          nav.classList.remove("visible");
      })
    </script>

<script>
    document.querySelectorAll('a[href^="#"]').forEach(anchor => {
        anchor.addEventListener('click', function (e) {
            e.preventDefault();
            const targetId = this.getAttribute('href');
            const targetElement = document.querySelector(targetId);

            if (targetElement) {
                targetElement.scrollIntoView({
                    behavior: 'smooth'
                });
            }
        });
    });
</script>

  
  
    <style>
      
      .header{
      display: grid;
      grid-template-columns: repeat(2, 2fr);
      align-items: center;
      
      background-color: #212121;
      /* border-bottom: 0.1vh dotted #1bdfb7;
      border-radius: 0 0 0 5vh;  */
      
  }

  .logo-container{
    height: 100%;
    background-color: #212121;
    padding-left: 8vw;
  }

  .logo-container figure {
  margin: 0;  
  border-left:  0.3vh dotted #1bdfb7; 
  border-radius: 0 3vh 0;
  padding-top: 3.5vh;
      padding-bottom: 3vh; 
      border-bottom:  0.3vh dotted #1bdfb7;
}
  
  .logo{
      height: 4vh;
      margin-left: 10dvw;
      
  }
  
  .navlinks{
      list-style-type: none;
      display: flex;
      gap: 2vw;
      align-items: center;
      text-align: center;
      font-size: 2.4vh;
      padding-top: 3.5vh;
      padding-bottom: 3vh; 
      border-bottom:  0.3vh dotted #1bdfb7;
  }
  
  .navlinks a{
      text-decoration: none;
      color: white;
  }

  .btn-acceso{
    height: 3.9vh;
    width: 9vw;
  }

  .navlinks a.plat{
    color: #1bdfb7;
  }


  .abrir-menu{
      /* margin-right: 1vw; */
  }
  
  .abrir-menu, .cerrar-menu {
    
      height: 3.5vh;
      height: auto;
      display: none;
  }

  
  
  @media screen and (max-width: 1024px) {
    .navlinks{
        padding-top: 4.2vh;
        padding-bottom: 2.3vh;
        font-size: 2vh;
        gap: 1vw;
    }

    .btn-acceso{
        height: 4vh;
        width: 11vw;
    }
  }
  
  
  
  
  @media screen and (max-width: 768px) {
    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .abrir-menu, .cerrar-menu {
        display: block;
        cursor: pointer;
    }

    .abrir-menu {
        margin-left: 5vh;
    }

    .menu {
        order: 1;
        display: flex;
        align-items: center;
    }

    .logo-container {
        order: 2;
        margin-left: auto;
    }

    .logo {
        margin-left: 0;
        margin-right: 10dvw;
        border: none;
    }

    .logo-container figure {
 
  border-left:  none; 

      border-bottom:  none;
}

    .nav {
        opacity: 0;
        visibility: hidden;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
        position: absolute;
        top: 0;
        left: 0;
        height: 100vh;
        width: 100vw;
        background-color: #212121;
        padding: 2rem;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .5);
    }

    .nav.visible {
        opacity: 1;
        visibility: visible;
    }

    .navlinks {
        flex-direction: column;
        align-items: flex-start;
        margin-top: 20px;
        border-bottom: 0;
    }

    .navlinks a {
        color: white;
    }

    .btn-acceso {
        display: none;
    }
}

  </style>