<header
  class="absolute
  flex items-center justify-between top-0 lg:top-12 w-full lg:w-11/12 max-w-screen-xl bg-white
  shadow-lg z-50 lg:rounded-full px-7 lg:px-[2.7rem] py-4
  lg:left-1/2 lg:transform lg:-translate-x-1/2"
>
  <figure class="flex items-center">
    <img
      class="h-auto w-32 lg:w-40"
      src="./images/logo-bitcom-dark.png"
      alt=""
    />
  </figure>

  <div class="flex gap-4 lg:contents">
    <nav class="flex items-center order-last lg:order-none">
      <span class="nav-label" hidden>Navigation</span>
      <button id="btnOpen" aria-expanded="false" aria-labelledby="nav-label">
        <img class="h-6 lg:hidden" id="abrir" src="./images/menu.svg" />
      </button>
      <div
        id="topnav_menu"
        class="hidden lg:flex lg:items-center aria-expanded:inset-0 aria-expanded:fixed aria-expanded:flex aria-expanded:flex-col"
        aria-labelledby="nav-label"
        role="dialog"
      >
        <button id="btnClose" aria-label="Close">
          <img
            class="h-6 block lg:hidden"
            id="cerrar"
            src="./images/close-menu.svg"
          />
        </button>
        <ul class="flex gap-4">
          <li>
            <a
              href="#home-3"
              class="text-[#3e3e3e] font-medium opacity-70 text-base"
              >Servicios</a
            >
          </li>
          <li>
            <a href="#" class="text-[#3e3e3e] font-medium opacity-70 text-base"
              >Cash Managment</a
            >
          </li>
          <li>
            <a
              href="#home-4"
              class="text-[#3e3e3e] font-medium opacity-70 text-base"
              >Plataforma</a
            >
          </li>
          <li>
            <a
              href="/contact"
              class="text-[#3e3e3e] font-medium opacity-70 text-base"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="flex items-center gap-4 lg:gap-6">
      <button
        class="border-[3px] border-[#6952EB] text-[#6952EB] text-xs lg:text-sm font-[625] rounded-full
       px-2 lg:px-4 py-1 lg:py-2 tracking-wide"
      >
        <span class="text-[#6952EB] hidden lg:inline">Acceso </span>Entidades
      </button>
      <button>
        <img
          class="h-8 w-8 lg:h-[2.7rem] lg:w-[2.7rem]"
          src="./images/theme-switcher.png"
          alt="theme-switcher"
        />
      </button>
    </div>
  </div>
</header>

<script>
  const btnOpen = document.getElementById("btnOpen");
  const btnClose = document.getElementById("cerrar");
  const media = window.matchMedia("(max-width: 1024px)");
  const topnav_menu = document.getElementById("topnav_menu");
  const main = document.querySelector("main");
  const body = document.querySelector("body");

  function openMobile() {
    btnOpen.setAttribute("aria-expanded", "true");
    topnav_menu.removeAttribute("inert");
    // topnav_menu.removeAttribute("style");
    main.setAttribute("inert", "");
    btnClose.focus();
  }

  function closeMobile() {
    btnOpen.setAttribute("aria-expanded", "false");
    topnav_menu.setAttribute("inert", "");
    topnav_menu.setAttribute("style", "display: none");
    main.removeAttribute("inert");
    btnOpen.focus();

    setTimeout(() => {
      topnav_menu.style.transition = "none";
    }, 500);
  }

  btnOpen.addEventListener("click", openMobile);
  btnClose.addEventListener("click", closeMobile);
</script>
<!-- <script>
  const nav = document.querySelector("#topnav_menu");
  const abrir = document.querySelector("#btnOpen");
  const cerrar = document.querySelector("#btnClose");

  abrir.addEventListener("click", () => {
    nav.classList.add("visible");
  });

  cerrar.addEventListener("click", () => {
    nav.classList.remove("visible");
  });
</script> -->
<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const targetId = this.getAttribute("href");
      const targetElement = document.querySelector(targetId);

      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });
</script>

<style>
  @layer nav {
  #btnOpen[aria-expanded="true"] + #topnav_menu {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    inset: 0;
  }
}
</style>
