<header
  class="absolute
  flex items-center justify-between top-0 lg:top-12 w-full lg:w-[86%] max-w-screen-xl bg-white dark:bg-[#212121]
  shadow-lg z-50 lg:rounded-full px-7 lg:px-[2.7rem] py-4
  lg:left-1/2 lg:transform lg:-translate-x-1/2"
>
  <figure class="flex items-center">
    <img
      id="bitcom-logo"
      class="h-auto w-32 lg:w-40"
      src="./images/logo-bitcom-dark.png"
      alt=""
    />
  </figure>

  <div class="flex gap-4 lg:contents">
    <nav class="flex items-center order-last lg:order-none">
      <span class="nav-label" hidden>Navigation</span>
      <button
        id="btnOpen"
        aria-expanded="false"
        aria-labelledby="nav-label"
        class="lg:hidden"
      >
        <img class="h-6" id="abrir" src="./images/menu.svg" />
      </button>
      <div
        id="topnav_menu"
        aria-labelledby="nav-label"
        role="dialog"
      >
        <button id="btnClose" aria-label="Close" class="lg:hidden">
          <img class="h-6" id="cerrar" src="./images/close-menu.svg" />
        </button>
        <ul class="flex items-center gap-4" id="topnav_links">
          <li class="link dark:text-[#ffffff]">
            <a href="#home-2" class="font-medium opacity-70 text-base"
              >Servicios</a
            >
          </li>
          <li class="link dark:text-[#ffffff]">
            <a href="#home-3" class="font-medium opacity-70 text-base"
              >Cash Managment</a
            >
          </li>
          <li class="link dark:text-[#ffffff]">
            <a href="#home-4" class="font-medium opacity-70 text-base"
              >Plataforma</a
            >
          </li>
          <li class="link dark:text-[#ffffff]">
            <a href="#contact" class="font-medium opacity-70 text-base"
              >Contacto</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="flex items-center gap-4 lg:gap-6">
      <button
        class="border-[3px] border-[#6952EB] text-[#6952EB] dark:text-[#9D8DF9] dark:border-[#9D8DF9] text-xs lg:text-sm font-[625] rounded-full
       px-2 lg:px-4 py-1 lg:py-2 tracking-wide"
      >
        <span class="text-[#6952EB] dark:text-[#9D8DF9] hidden lg:inline">Acceso </span>Entidades
      </button>
      <button id="theme-switcher">
        <img
          id="theme-switcher-img"
          class="h-8 w-8 lg:h-[2.7rem] lg:w-[2.7rem]"
          src="./images/theme-switcher.png"
          alt="theme-switcher"
        />
      </button>
    </div>
  </div>
</header>

<script>
  const btnOpen = document.getElementById("btnOpen");
  const btnClose = document.getElementById("btnClose");
  const media = window.matchMedia("(max-width: 1024px)");
  const topnav_menu = document.getElementById("topnav_menu");
  const main = document.querySelector("main");
  function openMobile() {
    btnOpen.setAttribute("aria-expanded", "true");
    topnav_menu.removeAttribute("inert");
    topnav_menu.style.background= '#212121'
    main.setAttribute("inert", "");
    btnClose.focus();
  }

  function closeMobile() {
    btnOpen.ariaExpanded = "false";
    topnav_menu.setAttribute("inert", "");
    main.removeAttribute("inert");
    btnOpen.focus();
  }

  function setupTopNav(e) {
    if (e.matches) {
      // is mobile
      console.log("is mobile");
      topnav_menu.setAttribute("inert", "");
      topnav_menu.style.transition='none'
    } else {
      // is tablet/desktop
      console.log("is desktop");
      closeMobile();
      topnav_menu.removeAttribute("inert");
    }
  }
  setupTopNav(media);

  btnOpen.addEventListener("click", openMobile);
  btnClose.addEventListener("click", closeMobile);
  media.addEventListener("change", function (e) {
    setupTopNav(e);
  });
  const elements = document.querySelectorAll(".link");
  elements.forEach((element) => {
    // Perform actions on each element
    element.addEventListener("click", () => {
      if (media.matches) {
        closeMobile();
      }
    });
  });
</script>
<script>
   document.addEventListener("DOMContentLoaded", function () {
    const themeSwitcher = document.getElementById("theme-switcher");
    const themeSwitcherImg = document.getElementById("theme-switcher-img") as HTMLImageElement;
    const logoImage= document.getElementById("bitcom-logo") as HTMLImageElement;
    const btnOpen= document.getElementById("abrir") as HTMLImageElement;
    const btnClose= document.getElementById("cerrar") as HTMLImageElement;
    function toggleTheme() {
      document.documentElement.classList.toggle("dark");
      if (document.documentElement.classList.contains("dark")) {
        themeSwitcherImg.src = "./images/theme-switcher-dark.png";
        logoImage.src = "./images/logo-bitcom-light.png";
        btnOpen.src= "./images/menu-dark.svg"
        btnClose.src= "./images/close-menu-dark.svg"
      } else {
        themeSwitcherImg.src = "./images/theme-switcher.png";
        logoImage.src = "./images/logo-bitcom-dark.png";
        btnOpen.src= "./images/menu.svg"
        btnClose.src= "./images/close-menu.svg"
      }
    }
    themeSwitcher.addEventListener("click", toggleTheme);
  });
</script>
<script>
  document.querySelectorAll('a[href^="#"]').forEach((anchor) => {
    anchor.addEventListener("click", function (e) {
      e.preventDefault();
      const targetId = this.getAttribute("href");
      const targetElement = document.querySelector(targetId);

      if (targetElement) {
        targetElement.scrollIntoView({
          behavior: "smooth",
        });
      }
    });
  });
</script>

<style>
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  @layer components {
    #btnOpen[aria-expanded="true"] + #topnav_menu {
      width: 100vw;
      height: 100vh;
      translate: 0;
      transition: translate 0.5s ease-in-out;
      background-color: white;
    }
  }
  @media (max-width: 1024px) {
    #topnav_menu {
      inset: 0;
      position: fixed;
      translate: 100vw 0;
      background-color: white;
      transition: translate 0.5s ease-in-out;
      padding: 1.5rem;
    }

    #topnav_links {
      flex-direction: column;
      gap: 2rem;
    }
  }


</style>
