---
---

<section class="home-3">
    <div class="home-3-tittle">
      <h2>
        Cash <span>Management</span>
      </h2>
      <img src="/images/MOCKUP.png" alt="" class="img-1" />
    </div>
    <div class="home-3-items">
      <div class="items-1">
        <p>
          Evite costos tercerizando los pagos a sus <br />
          proveedores, servicios e impuestos.
        </p>{" "}
        <br />
        <p>
          Atesoramos los fondos recaudados en nuesta <br />
          Cuenta Corriente Recaudadora Mayorista, a la <br />
          espera de instrucciones de pagos por su Empresa.
        </p>
      </div>
      <div class="items-2">
        <p>Sin limite en cuanto a volumen y cantidad de pagos.</p>
        <ul>
          <li>Pago a provedores</li>
          <li>Pago de Honorarios y/o comisiones.</li>
          <li>Pago de Servicios y/o Impuestos AFIP mediante VEP</li>
        </ul>
        <br />
        <p>Metodos de pago</p>
        <ul>
          <li>Transferencias Programadas</li>
          <li>Transferencias Inmediatas.</li>
          <li>Emisiones de CPD electronico</li>
        </ul>
      </div>
    </div>
  </section>


  <style>
    .home-3 {
  background-image: url(https://utfs.io/f/d148af74-d7ba-4f96-b1a9-68e042380348-kyzlca.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}

.home-3-tittle {
  /* margin-right: 5rem; */
  /* margin-top: -30px; */
  margin-left: 2rem;
}

.home-3-tittle h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
  font-family: "Spline Sans", sans-serif;
  margin-left: 3.5rem;
  font-weight: 450;
}

.home-3-tittle span {
  color: #1bdfb7;
  font-family: "Spline Sans", sans-serif;
  font-weight: 450;
}

.home-3-tittle img {
  width: 41rem;
  padding-top: 1rem;
}

.home-3-items {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  font-family: Roboto Static;
  color: white;
  font-size: 1.2rem;
  width: 100%;
  padding-left: 5rem;
}

.items-1,
.items-2 {

  width: 100%; 
}

.items-1 p {
  
}

.items-2 p {
  color: #1bdfb7;
  text-decoration: underline;
  margin-top: 2rem;
  margin-bottom: 5px;
  font-size: 1rem;
}
.items-2 ul {
  list-style-position: inside;
  list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
  font-size: 0.95rem;
  line-height: 16px;
}


@media screen and (max-width: 1024px) {

  .home-3-tittle img{
    width: 31rem;
    padding-top: 1rem;
  }

  .home-3-items {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    font-family: Roboto Static;
    color: white;
    font-size: 1.1rem;
    width: 100%;
    padding-left: 3rem;
  }

  .items-2 p {
    color: #1bdfb7;
    text-decoration: underline;
    margin-top: 1rem;
    margin-bottom: 5px;
    font-size: 1rem;
  }
  .items-2 ul {
    list-style-position: inside;
    list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
    font-size: 0.95rem;
    line-height: 16px;
  }
}

@media screen and (max-width: 768px) {

  .home-3 {
    background-image: url(https://utfs.io/f/d148af74-d7ba-4f96-b1a9-68e042380348-kyzlca.png);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;
  }

  .home-3-tittle h2 {
    font-size: 2.5rem;
    margin-bottom: 10px;
    color: white;
    font-family: "Spline Sans", sans-serif;
    margin-left: 9rem;
    font-weight: 450;
  }

  .home-3-tittle img{
    width: 29rem;
    padding-top: 1rem;
    margin-left: 5rem;
  }

  .home-3-items {
    display: flex;
    flex-direction: row;
    font-family: Roboto Static;
    color: white;
    font-size: 1.2rem;
    width: 100%;
  }

  .items-1{
    text-align: start;
    margin-right: 20px;
  }

  .items-2 p {
    color: #1bdfb7;
    text-decoration: underline;
    margin-top: -10px;
    /* margin-bottom: 5px; */
    font-size: 1rem;
  }
}



@media screen and (max-width: 550px) {

  .home-3 {
  background-image: url(https://utfs.io/f/9dbb2f2c-1064-484a-98aa-c0d20a9a1f8e-5tddvj.png);
  background-size: 100% 100%;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 10rem;
  padding-bottom: 10rem;
}


    .home-3-tittle {
}

.home-3-tittle h2 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  color: white;
  font-family: "Spline Sans", sans-serif;
  margin-left: 3.2rem;
  font-weight: 450;
}

.home-3-tittle span {
  color: #1bdfb7;
  font-family: "Spline Sans", sans-serif;
  font-weight: 450;
}

.home-3-tittle img {
  width: 18rem;
}

.home-3-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: Roboto Static;
  color: white;
  font-size: 1.2rem;
  width: 100%;
}

.items-1,
.items-2 {
  align-items: center;
  width: 100%; 
}

.items-1 p {
  
}

.items-2 p {
  color: #1bdfb7;
  text-decoration: underline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.1rem;
}
.items-2 ul {
  list-style-position: inside;
  list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
  font-size: 1rem;
  line-height: 16px;
}
}


@media screen and (max-width: 425px) {
  .home-3-tittle {
}

.home-3-tittle h2 {
  font-size: 2.1rem;
  margin-bottom: 10px;
  color: white;
  font-family: "Spline Sans", sans-serif;
  margin-left: 1rem;
  font-weight: 450;
}

.home-3-tittle span {
  color: #1bdfb7;
  font-family: "Spline Sans", sans-serif;
  font-weight: 450;
}

.home-3-tittle img {
  width: 15rem;
  margin-left: 2.3rem;
}

.home-3-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: Roboto Static;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.items-1,
.items-2 {
  align-items: center;
  width: 100%; 
}

.items-1 p {
  
}

.items-2 p {
  color: #1bdfb7;
  text-decoration: underline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.items-2 ul {
  list-style-position: inside;
  list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
  font-size: 0.9rem;
  line-height: 16px;
}
}



@media screen and (max-width: 375px) {
  .home-3-tittle h2 {
  font-size: 1.9rem;
  margin-bottom: 10px;
  color: white;
  font-family: "Spline Sans", sans-serif;
  margin-left: 0;
  font-weight: 450;
}

.home-3-tittle span {
  color: #1bdfb7;
  font-family: "Spline Sans", sans-serif;
  font-weight: 450;
}

.home-3-tittle img {
  width: 13rem;
  margin-left: 1.8rem;
}

.home-3-items {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  font-family: Roboto Static;
  color: white;
  font-size: 1rem;
  width: 100%;
}

.items-1,
.items-2 {
  align-items: center;
  width: 100%; 
}

.items-1 p {
  
}

.items-2 p {
  color: #1bdfb7;
  text-decoration: underline;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.items-2 ul {
  list-style-position: inside;
  list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
  font-size: 0.9rem;
  line-height: 16px;
}
}
  </style>