---
---




<section class="home-5">
    <div class="home-5-tittle">
      <h2>
        Redes <span>Habilitadas</span>
      </h2>
      <p>Nuestros principales Partners</p>
    </div>

    <div class="slider">
      <div class="slide-track">
        <div class="slide">
          <img
            src="https://utfs.io/f/d65bb799-fc6b-49d0-9b13-c72fd178d247-6l0zjp.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/59d45ccc-af0e-451c-9cf9-cbec35168a10-6zuk99.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/50fe0216-de4b-4655-9f46-d85985fcfc71-f2a4s0.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/f88600ef-f37a-45a2-9eb5-486cb66987ad-1214gf.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/1b51543d-b1c7-4527-a939-631a0c0a7f74-pk50cv.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/a249bd8a-6dbf-4048-80c6-88068d64b2a0-pozkpa.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/40c46905-5f75-42a0-a930-911e4d77f410-3uo82t.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/cf0f1e5d-aff8-4539-aec2-8bdc0d105785-ulr23h.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/eab23092-4e23-48e2-96ce-1b52fcad998b-abybq1.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/e0a3b5f3-d7d4-407b-9103-1e310016111d-pfx4st.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/d9b8025b-1cb3-410c-a31d-3bbf65bfeb28-1eu99.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/c908c8cd-9d80-4c72-ac07-37abbee2bc4c-va9nh7.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/2478b388-1cf1-4ffd-b69f-b87afc7eceae-i3vyf5.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/014f70f9-b4e0-4372-8238-4f4dc840ca86-1jny9.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/8e0893fa-c63c-44b8-9474-e58abccc99a0-196jvr.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/8132bdbf-9ceb-4b9c-94f9-6974d95aba57-wm781i.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/27f8dc4f-9ee7-4aa7-9c44-d69bd99e62ac-1oy0.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/53ad432b-9bdf-4a3d-a6a2-aecebe724227-w44zw9.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="https://utfs.io/f/59d45ccc-af0e-451c-9cf9-cbec35168a10-6zuk99.png"
            alt=""
          />
        </div>
      </div>
    </div>

    <div class="container">
      <ul>
        <li>© 2024 Bitcompay. Todos los derechos reservados</li>
        <li>
          <a href="https://api.whatsapp.com/send?phone=+54 9 11 5506-8673">
            <img
              src="https://utfs.io/f/8fb9d30c-2089-4ff7-b033-62ff0cc1d72f-cyks5j.png"
              alt=""
            />
          </a>
        </li>
        <li>
          <img
            class="logo-derechos"
            src="https://utfs.io/f/5e8f0ac9-219d-4b75-bf71-1768551d369c-ju8o7r.png"
            alt=""
          />
        </li>
        <li>Politicas de privacidad</li>
        <li>Defensa del consumidor</li>
      </ul>
    </div>
  </section>




  <style>

.home-5{
    background-image: url('/images/2560 h5.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-5-tittle{
  padding-top: 17vh;
  padding-left: 10vw; 
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 5rem;
} 

.home-5-tittle h2{
    font-size: 2.5vw;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle span{
    color: #1BDFB7;
}

.home-5-tittle p{
    font-size: 1.6vw;
    color: white;
    font-family: "Roboto", sans-serif;
}





.slider {
    width: 60vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 15px;
    padding: 3vw;
}

.slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(11vw * 14);
    gap: 1.3vw;
}

.slider .slide {
    /* width: 200px; */
}

.slider .slide img {
    width: 100%;
}

@keyframes scroll {
    0% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
    100% {
        -webkit-transform: translateX(calc(-11vw * 7));
        transform: translateX(calc(-11vw * 7));
    }
}


.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17vh;
}

.container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 4.5vw;
    list-style-type: none;
    font-size: 2vh;
    color: white;
    font-weight: 300;
    width: auto;
    
}

.logo-derechos{
    height: 3.5vh;
    width: auto;
}


@media screen and (max-width: 1128px) {
  .container ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    gap: 50px;
    list-style-type: none;
    font-size: 17px;
    color: rgb(155, 153, 153);
    font-weight: 300;
    width: auto;
    
}
}


@media screen and (max-width: 1024px) {
    .container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 50px;
        list-style-type: none;
        font-size: 14px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
        
    }
    
    .logo-derechos{
        height: 35px;
        width: 10.9rem;
    }
}

@media screen and (max-width: 768px) {


  .home-5-tittle{
    padding: 10rem 10rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
    .container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 40px;
        list-style-type: none;
        font-size: 10px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
        
    }
    
    .logo-derechos{
        height: 35px;
        width: auto;
    }
}

@media screen and (max-width: 692px) and (min-width: 551px){
  .home-5-tittle{
    padding: 8rem 2rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 30px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
  
.container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 20px;
        list-style-type: none;
        font-size: 11px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
    }

    .logo-derechos{
      display: none;
    }
}


@media screen and (max-width: 550px){

  .home-5-tittle{
    padding: 8rem 2rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 30px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
  
.container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 20px;
        list-style-type: none;
        font-size: 11px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
    }

    .logo-derechos{
      display: none;
    }

}


@media screen and (max-width: 425px) {
  .home-5-tittle h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 25px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

}





@media screen and (max-width: 430px){
  .home-5-tittle h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 25px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
}

@media screen and (max-width: 375px) {
  .home-5-tittle h2{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}
}

  </style>