---

---

<section class="home-5" id="home-5">
  <div class="home-5-tittle">
    <h2>
      Redes <span>Habilitadas</span>
    </h2>
    <p>Nuestros principales Partners</p>
  </div>

  <div class="slider">
    <div class="slide-track">
      <div class="slide">
        <img src="/images/pago-facil.png" alt="pago facil" />
      </div>
      <div class="slide">
        <img src="/images/mercado-pago.png" alt="mercado pago" />
      </div>
      <div class="slide"><img src="/images/express.png" alt="express" /></div>
      <div class="slide">
        <img src="/images/mastercard.png" alt="mastercard" />
      </div>
      <div class="slide"><img src="/images/maestro.png" alt="maestro" /></div>
      <div class="slide"><img src="/images/visa.png" alt="visa" /></div>
      <div class="slide"><img src="/images/cabal.png" alt="cabal" /></div>
      <div class="slide"><img src="/images/CUENTA DNI.png" alt="dni" /></div>
      <div class="slide"><img src="/images/cuentas.png" alt="cuentas" /></div>
      <div class="slide"><img src="/images/UALA.png" alt="uala" /></div>
      <div class="slide"><img src="/images/dinners.png" alt="dinners" /></div>
      <div class="slide"><img src="/images/naranja.png" alt="naranja" /></div>
      <div class="slide"><img src="/images/naranjax.png" alt="naranjax" /></div>
      <div class="slide"><img src="/images/apple.png" alt="apple" /></div>
      <div class="slide"><img src="/images/rapipago.png" alt="rapipago" /></div>
      <div class="slide"><img src="/images/GOOGLE.png" alt="google" /></div>
      <div class="slide"><img src="/images/payway.png" alt="payway" /></div>
      <div class="slide"></div>
      <div class="slide"><img src="/images/modo.png" alt="modo" /></div>

      <div class="slide">
        <img src="/images/pago-facil.png" alt="pago facil" />
      </div>
      <div class="slide">
        <img src="/images/mercado-pago.png" alt="mercado pago" />
      </div>
      <div class="slide"><img src="/images/express.png" alt="express" /></div>
      <div class="slide">
        <img src="/images/mastercard.png" alt="mastercard" />
      </div>
      <div class="slide"><img src="/images/maestro.png" alt="maestro" /></div>
      <div class="slide"><img src="/images/visa.png" alt="visa" /></div>
      <div class="slide"><img src="/images/cabal.png" alt="cabal" /></div>
      <div class="slide">
        <img src="/images/CUENTA DNI.png" alt="cuentas" />
      </div>
      <div class="slide"><img src="/images/UALA.png" alt="uala" /></div>
      <div class="slide"><img src="/images/dinners.png" alt="dinners" /></div>
      <div class="slide"><img src="/images/naranja.png" alt="naranja" /></div>
      <div class="slide"><img src="/images/naranjax.png" alt="naranjax" /></div>
      <div class="slide"><img src="/images/apple.png" alt="apple" /></div>
      <div class="slide"><img src="/images/rapipago.png" alt="rapipago" /></div>
      <div class="slide"><img src="/images/GOOGLE.png" alt="google" /></div>
      <div class="slide"><img src="/images/payway.png" alt="payway" /></div>
      <div class="slide">
        <img src="/images/alimentar.png" alt="alimentar" />
      </div>
      <div class="slide"><img src="/images/modo.png" alt="modo" /></div>
    </div>
  </div>

  <div class="container">
    <ul>
      <li>© 2024 Bitcompay. Todos los derechos reservados</li>
    </ul>
    <li>
      <img class="logo-derechos" src="/images/logo bitcom.png" alt="" />
    </li>
    <li>Politicas de privacidad</li>
    <li>Defensa del consumidor</li>
  </div>
</section>

<style>
  .home-5 {
    background-color: #212121;
  }

  .home-5-tittle {
    padding-top: 17vh;
    padding-left: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-bottom: 5rem;
  }

  .home-5-tittle h2 {
    font-size: 2.5vw;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
  }

  .home-5-tittle span {
    color: #1bdfb7;
  }

  .home-5-tittle p {
    font-size: 1.6vw;
    color: white;
    font-family: "Roboto", sans-serif;
  }

  .slider {
    width: 60vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 15px;
    padding: 3vw;
  }

  .slider .slide-track {
    display: flex;
    animation: scroll 40s linear infinite;
    -webkit-animation: scroll 40s linear infinite;
    width: calc(22vw * 20);
    gap: 1.3vw;
  }

  .slider .slide {
    flex: 0 0 auto;
  }

  .slider .slide img {
    width: 6vw;
    height: 6vw;
    object-fit: contain;
  }

  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc(-22vw * 10));
    }
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 17vh;
    padding-bottom: 2vh;
    gap: 4.8vw;
  }

  .container ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    list-style-type: none;
    font-size: 1.3vw;
    color: white;
    font-weight: 300;
    width: auto;
  }

  .container li {
    list-style-type: none;
    font-size: 1.3vw;
    color: white;
    font-weight: 300;
  }

  .logo-derechos {
    height: 2vw;
    width: auto;
  }

  @media screen and (max-width: 1024px) {
    .home-5-tittle h2 {
      font-size: 4.5vw;
    }

    .home-5-tittle p {
      font-size: 2vh;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 17vh;
    }

    .container ul {
      gap: 4vw;
    }

    .logo-derechos {
      height: 2.1vw;
      width: auto;
    }
  }

  @media screen and (max-width: 768px) {
    .home-5-tittle {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-left: 0vw;
    }

    .container {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 10vh;
    }

    .container ul {
      gap: 4vw;
    }

    .logo-derechos {
      height: 2.2vw;
      width: auto;
    }
  }

  /* @media screen and (max-width: 768px) {


  .home-5-tittle{
    padding: 10rem 10rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
}
    .container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 40px;
        list-style-type: none;
        font-size: 10px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
        
    }
    
    .logo-derechos{
        height: 35px;
        width: auto;
    }
}

@media screen and (max-width: 692px) and (min-width: 551px){
  .home-5-tittle{
    padding: 8rem 2rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 30px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
  
.container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 20px;
        list-style-type: none;
        font-size: 11px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
    }

    .logo-derechos{
      display: none;
    }
}


@media screen and (max-width: 550px){

  .home-5-tittle{
    padding: 8rem 2rem 1rem; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}


.slider {
    width: 75vw;
    height: auto;
    margin: auto;
    overflow: hidden;
    background-image: linear-gradient(250deg, #1bdfb7 0%, #abd6d0 100%);
    border-radius: 30px;
    padding: 10px;
}

.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 90px;
}
  
.container ul{
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        gap: 20px;
        list-style-type: none;
        font-size: 11px;
        color: rgb(155, 153, 153);
        font-weight: 300;
        width: auto;
    }

    .logo-derechos{
      display: none;
    }

}


@media screen and (max-width: 425px) {
  .home-5-tittle h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 25px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}

}





@media screen and (max-width: 430px){
  .home-5-tittle h2{
    text-align: center;
    font-size: 35px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 25px;
    color: white;
    font-family: "Roboto", sans-serif;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
}
}

@media screen and (max-width: 375px) {
  .home-5-tittle h2{
    text-align: center;
    font-size: 30px;
    color: white;
    margin-bottom: 5px;
    font-family: "Spline Sans", sans-serif;
}

.home-5-tittle p{
  text-align: center;
    font-size: 20px;
    color: white;
    font-family: "Roboto", sans-serif;
}
} */
</style>
