---
---




<section class="home-4" id="home-4">
    <div class="home-4-tittle">
      <h2>
        Nuestra <span >plataforma</span>
      </h2>
      <p>Gestione sus recaudaciones y pagos de forma online:</p>
    </div>
    <div class="home-4-container">
      <div class="grid-container-4">
        <figure>
          <img
            src="./images/home4 tarjeta 1.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="./images/home4 tarjeta 2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="./images/home4 tarjeta 3.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="./images/home4 tarjeta 4.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="./images/home4 tarjeta5.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="./images/home4 tarjeta 6.png"
            alt=""
          />
        </figure>
      </div>
    </div>

    <div class="sliderh4">
      <div class="slide-track">
        <div class="slide">
          <img
            src="./images/home4 tarjeta 1.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="./images/home4 tarjeta 2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="./images/home4 tarjeta 3.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="./images/home4 tarjeta 4.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="./images/home4 tarjeta 5.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="./images/home4 tarjeta 6.png"
            alt=""
          />
        </div>
    </div>    
  </section>



  <style>

.home-4 {
  background-color: #212121;
  padding-bottom: 3rem;
}

.home-4-tittle {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 30px;
}

.home-4-tittle h2 {
  font-size: 40px;
  color: white;
  font-family: "Spline Sans", sans-serif;
}

.home-4-tittle span {
  color: #1bdfb7;
}

.home-4-tittle p {
  font-size: 25px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

.home-4-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container-4 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 5px;
  margin-top: 30px;
}

.grid-container-4 figure img {
  border: 1px dotted #1bdfb7;
  border-radius: 27px;
  height: 14.3rem;
  width: 23rem;
}


.sliderh4{
  display: none;
}


@media screen and (max-width: 1128px) {
  .grid-container-4 {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 6px;
  margin-top: 30px;
}
  .grid-container-4 figure img{
    height: 10.5rem;
  width: 16.8rem;
  }
}

@media screen and (max-width: 1024px) {
  .grid-container-4 {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 5px;
    margin-left: 1rem;
  }

  .home-4-tittle {
    display: flex;
    flex-direction: column;
    padding: 5rem 10rem 30px;
  }
}


@media screen and (max-width: 768px) {
  .home-4-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 5rem 30px;
  }


  .home-4-tittle p {
    font-size: 25px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
  }

  .grid-container-4 figure img {
    height: 210px;
    width: 21rem;
  }
}


@media screen and (max-width: 550px){

  .home-4-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem 30px;
  }

  .sliderh4 {
        display: block;
        width: 100%;
        height: 16rem;
        margin: auto;
        overflow: hidden;
        padding: 40px;
    }

    .sliderh4 .slide-track {
        display: flex;
        animation: scroll 25s linear infinite;
        width: calc(200px * 6); 
        gap: 15rem;
    }

    .sliderh4 .slide {
        width: 200px;
    }

    .sliderh4 .slide img {
        width: 25rem;
        height: 13.5rem;
        border: 1px dotted #1bdfb7;
        border-radius: 27px;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-200px * 3)); 
        }
    }

    .grid-container-4 {
        display: none;
    }
}



@media screen and (max-width: 425px) {
  .home-4-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 3rem 30px;
  }

  .home-4-tittle h2 {
  font-size: 33px;

}
}

@media screen and (max-width: 430px) {
  .home-4-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 5rem 30px;
  }

  .home-4-tittle h2 {
  font-size: 35px;

}
}

@media screen and (max-width: 375px){
  .home-4-tittle h2 {
  font-size: 30px;
  color: white;
  font-family: "Spline Sans", sans-serif;
}

.home-4-tittle p{
  font-size: 20px;
}
}

</style>