---
console.log("javascript")
---



<section class="home" id="home">
    <div class="header-home">
      <h1>
        Simplifique la gestión <br>de tesorería
        <span>de su Empresa</span>
      </h1>
      <p>
        Accede a un <span>servicio integral</span> de Gestion de Canales
        de Recaudación <br> y
        Cash Managment de forma online con nuestra Plataforma.
      </p>

      <a href="#">
        <button>
          <img
            src="./images/btn cotizar servicio.png"
            alt=""
          />
        </button>
      </a>
    </div>
  </section>



  <style>
    .home{
    background-image: url('/images/home 1 1860.jpg');
    height: 53rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12rem 9rem;
    text-align: start;
}

.header-home h1{
    font-size: 75px;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 30px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 15rem;
    height: auto;
    cursor: pointer;
 }

/* media querys */

@media screen and (max-width: 1440px) {
    .home{
        background-image: url('/images/home 1 1440.jpg');
    }
}

 @media screen and (max-width: 1024px) and (min-width: 768px) {
    .home{
    background-image: url('/images/fondoh2 1024.jpg');
    height: 43rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 3rem;
    text-align: start;
}

.header-home h1{
    font-size: 50px;
    width: 40rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 22px;
    width: 45rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 14rem;
    height: auto;
    cursor: pointer;
 }
 }




 @media screen and (max-width: 768px) and (min-width: 692px) {
    .home{
    background-image: url('/images/home 1 768.jpg');
    height: 43rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 5rem 3rem;
    text-align: start;
}

.header-home h1{
    font-size: 45px;
    width: 30rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 20px;
    width: 40rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 13rem;
    height: auto;
    cursor: pointer;
 }
 }


 @media screen and (max-width: 692px) and (min-width: 470px) {
    .home{
    background-image: url('/images/home 1 768.jpg');
    height: 30rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 6rem 3rem;
    text-align: start;
}

.header-home h1{
    font-size: 33px;
    width: 26rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 18px;
    width: 26rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
    padding: 0px;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 11rem;
    height: auto;
    cursor: pointer;
 }
 }


 @media screen and (max-width: 470px) and (min-width: 425px) {
    .home{
    background-image: url('/images/home 1 480.jpg');
    height: 50rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 6rem 3rem;
    text-align: start;
}

.header-home h1{
    font-size: 30px;
    width: 20rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 19px;
    width: 19rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
    padding: 0px;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 10rem;
    height: auto;
    cursor: pointer;
 }
 }



 @media screen and (max-width: 425px) and (min-width: 375px) {
    .home{
    background-image: url('/images/home 1 425.jpg');
    height: 30rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 6rem 3rem;
    text-align: start;
}

.header-home h1{
    font-size: 30px;
    width: 20rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 19px;
    width: 19rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 1rem;
    padding: 0px;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 10rem;
    height: auto;
    cursor: pointer;
 }
 }




@media screen and (max-width: 375px) and (min-width: 320px){
    .home{
    background-image: url('/images/home 1 375.jpg');
    height: 30rem;
    width: auto;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 6rem;
    text-align: center;
}

.header-home h1{
    font-size: 25px;
    width: 19rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;

}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 17px;
    width: 19rem;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 10rem;
    height: auto;
    cursor: pointer;
 }
}

  </style>