---
console.log("javascript")
---



<section class="home" id="home">
    <div class="header-home">
      <h1>
        Simplifique la gestión <br>de tesorería
        <span>de su Empresa</span>
      </h1>
       <p>
        Accede a un <span>servicio integral</span> de Gestion de Canales
        de Recaudación y<br> 
        Cash Managment de forma online con nuestra Plataforma.
      </p> 

      <a href="#">
        <button>
          <img
            src="./images/btn cotizar servicio.png"
            alt=""
          />
        </button>
      </a> 
    </div>
  </section>



  <style>
    .home{
    background-image: url('/images/2560 h1.png');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    }

.header-home{
    padding: 24.3vh 15vw; 
}

.header-home h1{
    font-size: 5vw;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

 .header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
 }

.header-home p{
    font-size: 2vw;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    margin-top: 2vh;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 2vh;
 }
 
.header-home button img{
    width: 15vw;
    height: auto;
    cursor: pointer;
 } 

/* media querys */


@media screen and (max-width: 692px) {
  .header-home h1{
    font-size: 4vh;
  }
}


  </style>