---
---



<section class="home-2" id="home-2">
    <div class="home-2-tittle">
      <h2>
        Canales de <span >Recaudación:</span>
      </h2>
      <p>Con un solo contrato publique su <span>Marca en todas las Entidades de Recaudación</span> con mayor alcance de todo el País</p>
    </div>
    <div class="home-2-container">
      <div class="grid-container">
        <figure>
          <img
            src="/images/card1h2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="/images/card2h2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="/images/card3h2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="/images/card4h2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="/images/card5h2.png"
            alt=""
          />
        </figure>
        <figure>
          <img
            src="/images/card6h2.png"
            alt=""
          />
        </figure>
      </div>
    </div>

    <div class="sliderh2">
      <div class="slide-track">
        <div class="slide">
          <img
            src="/images/card1h2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="/images/card2h2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="/images/card3h2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="/images/card4h2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="/images/card5h2.png"
            alt=""
          />
        </div>
        <div class="slide">
          <img
            src="/images/card6h2.png"
            alt=""
          />
        </div>
    </div>    
  </section>



  <style>

.home-2 {
  background-image: url('/images/2560 h2.png');
  height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.home-2-tittle {
  display: flex;
  flex-direction: column;
  padding: 5rem 10rem 30px;
}

.home-2-tittle h2 {
  font-size: 2.5vw;
  color: white;
  font-family: "Spline Sans", sans-serif;
}

.home-2-tittle span {
  color: #1bdfb7;
}

.home-2-tittle p {
  font-size: 1.6vw;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: white;
}

.home-2-tittle p span{
  color: white;
  font-weight: 700;
}

.home-2-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 10px;
  margin-top: 30px;
}

.grid-container figure img {
  height: 30vh;
  width: 26vw;
}


.sliderh2{
  display: none;
}


/* @media screen and (max-width: 1128px) {

  .grid-container {
  display: grid;
  grid-template-columns: repeat(3, 3fr);
  gap: 6px;
  margin-top: 30px;
}
  .grid-container figure img {
  height: 10.5rem;
  width: 16.8rem;
}
}

@media screen and (max-width: 1024px) {

  .home-2-tittle {
    display: flex;
    flex-direction: column;
    padding: 1rem 10rem 30px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(2, 2fr);
    gap: 3px;
    margin-left: 1rem;
  }

  .grid-container figure img {
    height: 14.2rem;
    width: 22.5rem;
}


}

@media screen and (max-width: 702px) and (min-width: 425px) {

}

@media screen and (max-width: 768px) {
  .home-2-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5rem 10rem 30px;
  }

  .home-2-tittle h2 {
  font-size: 40px;
  text-align: center;
  color: white;
  font-family: "Spline Sans", sans-serif;
}

  .home-2-tittle p {
    font-size: 30px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
    text-align: center;
  }

  .grid-container figure img {
    height: 210px;
    width: 21rem;
  }
}

@media screen and (max-width: 692px) and (min-width: 551px){
  .home-2-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem 30px;
  }

  .sliderh2 {
        display: block;
        width: 100%;
        height: 16rem;
        margin: auto;
        overflow: hidden;
        padding: 40px;
    }

    .sliderh2 .slide-track {
        display: flex;
        animation: scroll 25s linear infinite;
        width: calc(200px * 6); 
        gap: 15rem;
    }

    .sliderh2 .slide {
        width: 200px;
    }

    .sliderh2 .slide img {
        width: 25rem;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-200px * 3)); 
        }
    }

    .grid-container {
        display: none;
    }
}


@media screen and (max-width: 550px){

  .home-2-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 4rem 5rem 30px;
  }

  .sliderh2 {
        display: block;
        width: 100%;
        height: 16rem;
        margin: auto;
        overflow: hidden;
        padding: 40px;
    }

    .sliderh2 .slide-track {
        display: flex;
        animation: scroll 25s linear infinite;
        width: calc(200px * 6); 
        gap: 15rem;
    }

    .sliderh2 .slide {
        width: 200px;
    }

    .sliderh2 .slide img {
        width: 25rem;
    }

    @keyframes scroll {
        0% {
            transform: translateX(0);
        }
        100% {
            transform: translateX(calc(-200px * 3)); 
        }
    }

    .grid-container {
        display: none;
    }
}



@media screen and (max-width: 768px) and (min-width: 425px) {
  .home-2-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 5rem 30px;
  }

  .home-2-tittle h2 {
  font-size: 35px;

}
}



@media screen and (max-width: 425px) and (min-width: 375px) {
  .home-2{
    height: 60rem;
  }
  .home-2-tittle {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 4rem 5rem 30px;
  }

  .home-2-tittle h2 {
  font-size: 35px;

}
}

@media screen and (max-width: 375px) and (min-width: 320px){
  .home-2{
    height: 50rem;
  }
  .home-2-tittle h2 {
  font-size: 30px;
  color: white;
  font-family: "Spline Sans", sans-serif;
}

.home-2-tittle p{
  font-size: 20px;
}
} */

  </style>