---

---

<section class="home-3" id="home-3">
  <div class="home-3-title">
    <h2>
      Cash <span>Management</span>
    </h2>
    <p>
      Evite costos tercerizando los pagos a sus
      <span>proveedores, servicios e impuestos.</span>
    </p>
  </div>
  <div class="none">
    <p>
      Evite costos tercerizando los pagos a sus proveedores, servicios e
      impuestos.
    </p>
  </div>
  <div class="home-3-content">
    <div class="img-1-container">
      <img src="/images/MOCKUP.png" alt="Imagen descriptiva" class="img-1" />
    </div>
    <div class="home-3-items">
      <div class="items-1">
        <br />
      </div>
      <div class="items-2">
        <p>Sin límite en cuanto a volumen y cantidad de pagos.</p>
        <ul>
          <li>
            <img class="tic" src="/images/tic.png" alt="" /> Pago a proveedores
          </li>
          <li>
            <img class="tic" src="/images/tic.png" alt="" /> Pago de Honorarios y/o
            comisiones.
          </li>
          <li>
            <img class="tic" src="/images/tic.png" alt="" />Pago de Servicios
            y/o Impuestos AFIP mediante VEP
          </li>
        </ul>
        <br />
        <p>Métodos de pago</p>
        <ul>
          <li>
            <img class="tic" src="/images/tic.png" alt="" /> Transferencias Programadas
          </li>
          <li>
            <img class="tic" src="/images/tic.png" alt="" /> Transferencias Inmediatas.
          </li>
          <li>
            <img class="tic" src="/images/tic.png" alt="" /> Emisiones de CPD electrónico
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>

<style>
  .home-3 {
    background-image: url("/images/2560 h3.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    color: white;
    font-family: "Spline Sans", sans-serif;
  }

  .none {
    display: none;
  }

  .home-3-title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    padding-top: 17vh;
    padding-left: 10vw;
  }

  .home-3-title h2 {
    font-size: 2.5vw;
    font-weight: 450;
  }

  .home-3-title h2 span {
    color: #1bdfb7;
    font-weight: 450;
  }

  .home-3-title p {
    font-size: 1.6vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
  }

  .home-3-title p span {
    color: white;
    font-weight: 500;
  }

  .home-3-content {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
    padding: 0 9vw;
  }

  .img-1-container {
    display: flex;
    justify-content: center;
    margin-top: 2.8vh;
  }

  .img-1 {
    width: 47vw;
    height: auto;
  }

  .home-3-items {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  /* .items-1, */
  .items-2 {
    font-size: 2.5vh;
  }

  /* .items-1 {
    padding-bottom: 3vh;
  } */

  .items-2 {
    padding-top: 3.4vh;
  }

  .items-2 p {
    color: #1bdfb7;
    text-decoration: underline;
  }

  .items-2 ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .tic {
    margin-left: -2vw;
  }

  .items-2 li {
    display: flex;
    align-items: center;
    margin-top: 1.2vh;
    font-size: 2vh;
    line-height: 3vh;
  }

  .items-2 li::before {
    content: "";
    display: inline-block;
    background: url("/images/tic.png") no-repeat center center;
    background-size: contain;
    width: 1.5em;
    height: 1.5em;
    margin-right: 10px;
  }

  @media screen and (max-width: 1024px) {
    .home-3-title h2 {
      font-size: 4.5vw;
    }

    .home-3-title p {
      font-size: 2vh;
    }

    .home-3-content {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 5vw;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .img-1-container {
      margin-top: 1vh;
    }

    .img-1 {
      width: 55vw;
      height: auto;
    }

    .items-1,
    .items-2 {
      font-size: 2vh;
    }

    .items-2 ul {
      font-size: 1.8vh;
      line-height: 3vh;
      margin-top: 1vh;
    }
  }

  @media screen and (max-width: 768px) {
    .home-3 {
      height: 110vh;
    }
    .home-3-title {
      display: flex;
      justify-content: center;
      align-items: center;
      padding-top: 8vh;
      padding-left: 0vw;
      margin-bottom: 3vh;
    }

    .home-3-title h2 {
      font-size: 5vh;
      color: white;
      font-family: "Spline Sans", sans-serif;
      font-weight: 450;
    }

    .home-3-title h2 span {
      color: #1bdfb7;
      font-family: "Spline Sans", sans-serif;
      font-weight: 450;
    }

    .home-3-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 3vw;
    }

    .img-1-container {
      /* padding-left: 8vw; */
      margin-top: 0vh;
    }

    .img-1 {
      width: 60vw;
      height: auto;
    }

    .home-3-items {
      display: flex;
      flex-direction: column;
      justify-content: start;
      text-align: start;
      padding-left: 10vw;
    }

    .items-1,
    .items-2 {
      color: white;
      font-size: 2vh;
    }
    .items-1 {
      padding-bottom: 1vh;
    }

    .items-2 {
      padding-top: 1.5vh;
    }

    .items-2 p {
      color: #1bdfb7;
      text-decoration: underline;
    }

    .items-2 ul {
      list-style-position: inside;
      list-style-image: url(https://utfs.io/f/7c698d67-0347-40b2-aa5f-ab79ae4186dd-2glq.png);
      font-size: 2vh;
      line-height: 3vh;
      margin-top: 1.2vh;
    }

    @media screen and (max-width: 425px) {
      .img-1-container {
        order: 2;
      }

      .home-3-items {
        order: 1;
      }
      .home-3-title p {
        display: none;
      }

      .none {
        display: flex;
        align-items: center;
        text-align: center;
      }

      .none p {
        font-size: 4.5vw;
        font-family: "Roboto", sans-serif;
        font-weight: 400;
        color: white;
      }

      .home-3-content {
        gap: 7vh;
        padding: 0 1vw;
      }

      .items-2 p {
        font-size: 1.8vh;
      }

      .items-2 ul {
        font-size: 1.5vh;
      }

      .img-1 {
        width: 70vw;
      }
    }
  }

  @media screen and (max-width: 375px) {
    .home-3-title h2 {
      font-size: 3.8vh;
    }
  }

  @media screen and (max-width: 320px) {
    .home-3-title {
      padding-left: 10vw;
    }
    .home-3-title h2 {
      font-size: 3.8vh;
    }
  }
</style>
