---
console.log("javascript")
---



<section class="home" id="home">
    <div class="header-home">
      <h1>
        Simplifique la gestión de tesorería
        <span>de su Empresa</span>
      </h1>
      <p>
        Accede a un <span>servicio integral</span> de Gestion de Canales
        de Recaudación <br> y
        Cash Managment de forma online con nuestra Plataforma.
      </p>

      <a href="#">
        <button>
          <img
            src="./images/btn cotizar servicio.png"
            alt=""
          />
        </button>
      </a>
    </div>
  </section>



  <style>
    .home{
    background-image: url("./images/home4 tarjeta 4.png");
    height: 800px;
    width: 100%;
}

.header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 12rem 9rem;
    text-align: start;
}

.header-home h1{
    font-size: 79px;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 32px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 10px;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 100%;
    height: auto;
    cursor: pointer;
 }


 @media screen and (max-width: 1128px) {
    .header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 7rem 9rem;
    text-align: start;
}

.header-home h1{
    font-size: 75px;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 28px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 10px;
}

.header-home button img{
    width: 13rem;
    height: auto;
    cursor: pointer;
 }
 }

 @media screen and (max-width: 1024px) {
    .home{
        /* padding: 100px; */
        height: 50rem;
        width: 100%;
    }

    .header-home h1{
        font-size: 65px;
        color: white;
        font-weight: 300;
        text-align: start;
        font-family: "Spline Sans", sans-serif;
    }
    
    .header-home h1 span{
        color: #1BDFB7;
        font-weight: bold;
        font-family: "Spline Sans", sans-serif;
    }
    
    .header-home p{
        font-size: 25px;
        font-weight: 300;
        text-align: start; 
        font-family: "Roboto", sans-serif;
        color: white;
        padding: 10px;
    }
    
    .header-home p span{
        font-weight: 700;
    }
 }


 @media screen and (max-width: 550px){

  .header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10rem 7rem;
    text-align: start;
}

.header-home h1{
    font-size: 35px;
    width: 25rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 25px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    width: 25rem;
    margin-bottom: 2rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 15rem;
    height: auto;
    cursor: pointer;
 }
  
}

@media screen and (max-width: 414px) {
    .home{
        /* background-image: url(https://utfs.io/f/00afc46a-fb23-459f-96a7-c070a5d1afca-2723.png); */
        height: 40rem;
    }

    .header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8rem 1rem;
    text-align: start;
}

.header-home h1{
    font-size: 32px;
    width: 20rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    width: 20rem;
    margin-bottom: 2rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 13rem;
    height: auto;
    cursor: pointer;
 }
}


@media screen and (max-width: 425px) {
    .home{
        background-image: url(https://utfs.io/f/00afc46a-fb23-459f-96a7-c070a5d1afca-2723.png);
        height: 40rem;
    }

    .header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 10rem 1rem;
    text-align: start;
}

.header-home h1{
    font-size: 32px;
    width: 25rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    width: 25rem;
    margin-bottom: 2rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 13rem;
    height: auto;
    cursor: pointer;
 }
}






@media screen and (max-width: 430px) {
    .home{
        background-image: url(https://utfs.io/f/00afc46a-fb23-459f-96a7-c070a5d1afca-2723.png);

        height: 40rem;
    }

    .header-home{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 8rem 1rem;
    text-align: start;
}

.header-home h1{
    font-size: 32px;
    width: 25rem;
    color: white;
    font-weight: 300;
    text-align: start;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home h1 span{
    color: #1BDFB7;
    font-weight: bold;
    font-family: "Spline Sans", sans-serif;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    width: 25rem;
    margin-bottom: 2rem;
}

.header-home p span{
    font-weight: 700;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
 }
 
.header-home button img{
    width: 13rem;
    height: auto;
    cursor: pointer;
 }
}


@media screen and (max-width: 376px){
    .home{
        background-image: url(https://utfs.io/f/00afc46a-fb23-459f-96a7-c070a5d1afca-2723.png);
        height: 40rem;
        }

    .header-home h1{
    font-size: 25px;
    width: 20rem;
    color: white;
    font-weight: 300;
    text-align: center;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    margin-left: 1.3rem;
    width: 20rem;
    margin-bottom: 2rem;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 1rem;
 }

.header-home button img{
    width: 12rem;
    height: auto;
    cursor: pointer;
 }
    
}

@media screen and (max-width: 375px) {
    .home{
        background-image: url(https://utfs.io/f/00afc46a-fb23-459f-96a7-c070a5d1afca-2723.png);
        height: 40rem;
    }

    .header-home h1{
    font-size: 25px;
    width: 20rem;
    color: white;
    font-weight: 300;
    text-align: center;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    text-align: start; 
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    margin-left: 1.3rem;
    width: 20rem;
    margin-bottom: 2rem;
}

.header-home button{
    background: none;
    border: none;
    padding: 0;
    margin-top: 15px;
    margin-left: 1rem;
 }

.header-home button img{
    width: 12rem;
    height: auto;
    cursor: pointer;
 }
    
}

@media screen and (max-width: 321px) {
    .header-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 2rem 9rem;
}

    .header-home h1{
    font-size: 36px;
    width: 15rem;
    color: white;
    font-weight: 300;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    margin-left: 1.3rem;
    width: 17rem;
    margin-bottom: 2rem;
}
}

@media screen and (max-width: 320px){

    .header-home{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

    .header-home h1{
    font-size: 36px;
    width: 15rem;
    color: white;
    font-weight: 300;
    font-family: "Spline Sans", sans-serif;
    margin-bottom: 2rem;
}

.header-home p{
    font-size: 20px;
    font-weight: 300;
    font-family: "Roboto", sans-serif;
    color: white;
    padding: 1px;
    margin-left: 1.3rem;
    width: 17rem;
    margin-bottom: 2rem;
}
}





  </style>