<section class="home-2" id="home-2">
  <div class="home-2-tittle">
    <h2>
      Canales de <span>Recaudación:</span>
    </h2>
    <p>
      Con un solo contrato publique su <span
        >Marca en todas las Entidades de Recaudación</span
      > con mayor alcance de todo el País
    </p>
  </div>
  <div class="home-2-container">
    <div class="grid-container">
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Débito Directo</h3>
          <p class="card-text">
            Ordene débitos directos en Cajas de Ahorro y/o Cuentas Corrientes de
            todos los Bancos del País.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono1.png" alt="Icono Bancario" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Débito Automático</h3>
          <p class="card-text">
            Sus clientes o afiliados podrán optar por el servicio de débito
            automático en tarjetas de crédito y/o débito.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono2.png" alt="Icono Bancario" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Recaudación en Efectivo</h3>
          <p class="card-text">
            Habilite los Canales de Recaudación de Pago Fácil y/o Rapipago en
            todo el País, con la modalidad de su conveniencia.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono3.png" alt="Icono Bancario" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Canales Electrónicos</h3>
          <p class="card-text">
            Ofrezca la opción de pago de servicios en Home Banking y/o
            Billeteras Virtuales homologadas.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono4.png" alt="" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Gateway de Pagos</h3>
          <p class="card-text">
            Set de herramientas para ventas con Tarjetas y/o QR presenciales y/o
            a distancia.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono5.png" alt="Icono Bancario" />
        </div>
      </div>
      <div class="card">
        <div class="card-content">
          <h3 class="card-title">Cobranzas Mayoristas</h3>
          <p class="card-text">
            Reciba en nuestra Cuenta Recaudadora Mayorista el pago de Facturas
            de sus Clientes Corporativos.
          </p>
        </div>
        <div class="card-icon">
          <img src="/images/icono6.png" alt="" />
        </div>
      </div>
    </div>
  </div>

  <div class="swiper">
    <div class="swiper-wrapper">
      <!-- Los slides -->
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Débito Directo</h3>
            <p class="card-text">
              Ordene débitos directos en Cajas de Ahorro y/o Cuentas Corrientes
              de todos los Bancos del País.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono1.png" alt="Icono Bancario" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Débito Automático</h3>
            <p class="card-text">
              Sus clientes o afiliados podrán optar por el servicio de débito
              automático en tarjetas de crédito y/o débito.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono2.png" alt="Icono Bancario" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Recaudación en Efectivo</h3>
            <p class="card-text">
              Habilite los Canales de Recaudación de Pago Fácil y/o Rapipago en
              todo el País, con la modalidad de su conveniencia.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono3.png" alt="Icono Bancario" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Canales Electrónicos</h3>
            <p class="card-text">
              Ofrezca la opción de pago de servicios en Home Banking y/o
              Billeteras Virtuales homologadas.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono4.png" alt="" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Gateway de Pagos</h3>
            <p class="card-text">
              Set de herramientas para ventas con Tarjetas y/o QR presenciales
              y/o a distancia.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono5.png" alt="Icono Bancario" />
          </div>
        </div>
      </div>
      <div class="swiper-slide">
        <div class="card">
          <div class="card-content">
            <h3 class="card-title">Cobranzas Mayoristas</h3>
            <p class="card-text">
              Reciba en nuestra Cuenta Recaudadora Mayorista el pago de Facturas
              de sus Clientes Corporativos.
            </p>
          </div>
          <div class="card-icon">
            <img src="/images/icono6.png" alt="" />
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="swiper-button-prev"></div>
    <div class="swiper-button-next"></div> -->
  </div>
</section>

<style>
  .home-2 {
    background-image: url("/images/2560 h2.png");
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .home-2-tittle {
    display: flex;
    flex-direction: column;
    padding-top: 10vh;
    padding-left: 10vw;
    padding-bottom: 2vh;
  }

  .home-2-tittle h2 {
    font-size: 2.5vw;
    color: white;
    font-family: "Spline Sans", sans-serif;
  }

  .home-2-tittle span {
    color: #1bdfb7;
  }

  .home-2-tittle p {
    font-size: 1.6vw;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    color: white;
  }

  .home-2-tittle p span {
    color: white;
    font-weight: 700;
  }

  .home-2-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .grid-container {
    display: grid;
    grid-template-columns: repeat(3, 3fr);
    gap: 3.2vw;
    margin-top: 9vh;
  }

  .card {
    background-color: #f0f0f0;
    border-radius: 30px;
    display: flex;
    align-items: center;
    padding: 1vw;
    box-shadow: 0 2px 2px #039275;
    position: relative;
    height: 25vh;
    width: 24vw;
  }

  .card-content {
    max-width: 100%;
  }

  .card-title {
    color: #a55cff;
    font-size: 1.5em;
    margin: 0;
  }

  .card-text {
    color: #555555;
    margin-top: 1vh;
    font-size: 1em;
  }

  .card-icon {
    border-radius: 50%;
    padding: 1vw;
    margin-left: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: -8.5vh;
    right: -3vw;
  }

  .card-icon img {
    width: 5.5vw;
    height: auto;
  }

  .swiper {
    visibility: hidden;
  }
  @media screen and (max-width: 1024px) {
    .home-2-tittle h2 {
      font-size: 4.5vh;
    }

    .home-2-tittle p {
      font-size: 2vh;
    }

    .card {
      height: 24vh;
      width: 30vw;
    }

    .card-title {
      font-size: 1.3em;
    }

    .card-text {
      font-size: 1.4vh;
    }

    .card-icon {
      top: -40px;
      right: -20px;
    }

    .card-icon img {
      width: 80px;
      height: 80px;
    }
  }

  @media screen and (max-width: 768px) {
    .home-2-container {
      display: none;
    }

    .swiper {
      visibility: visible;
      padding-top: 10vh;
    }

    .swiper-slide {
      height: auto;
      display: flex;
      justify-content: center;
    }

    .card {
      width: 100vw;
      height: 25vh;
    }
  }

  @media screen and (max-width: 425px) {
    .home-2-tittle {
      align-items: center;
      justify-content: center;
      padding-top: 10vh;
      padding-left: 2vw;
    }

    .home-2-tittle h2 {
      font-size: 7vw;
    }

    .home-2-tittle p {
      font-size: 4vw;
      text-align: center;
    }

    .swiper {
      visibility: visible;
      padding-top: 10vh;
    }

    .swiper-slide {
      height: auto;
      width: auto;
      display: flex;
      justify-content: center;
    }

    .card {
      width: 90vw;
      height: 20vh;
    }
  }
</style>

<script>
   import Swiper from "swiper";
  import "swiper/css";
  import { Navigation } from "swiper/modules";
  import "swiper/css/navigation";

  const swiper = new Swiper(".swiper", {
    modules: [Navigation],
    loop: true,
    slidesPerView: 3,
    spaceBetween: 40,
    navigation: {
      prevEl: ".swiper-button-prev",
      nextEl: ".swiper-button-next",
    },
    breakpoints: {
      1024: {
        slidesPerView: 3,
        spaceBetween: 40,
      },
      768: {
        slidesPerView: 2,
        spaceBetween: 20,
      },
      425: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      375: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
      0: {
        slidesPerView: 1,
        spaceBetween: 10,
      },
    },
  });
</script>
