---
import SectionTitle from "./SectionTitle.astro";
type PageOptions = "home" | "politics";
interface Props {
  page: PageOptions;
}
const { page } = Astro.props;
---

<section class="home-5 2xl:max-w-7xl 2xl:mx-auto" id="home-5">
  {
    page === "home" && (
    <SectionTitle
      title="Redes habilitadas"
      subtitle="Nuestro pricipales Partners"
      subColor="text-white"
    />

    <div class="flex flex-wrap gap-12 justify-center items-center mt-14">
      <div class="slide">
        <img src="/images/networks-logo/visa.png" alt="visa" />
      </div>
      <div class="slide">
        <img src="/images/networks-logo/mastercard.png" alt="mastercard" />
      </div>
      <div class="slide">
        <img src="/images/networks-logo/american-express.png" alt="express" />
      </div>
      <div class="slide">
        <img src="/images/networks-logo/pago-facil.png" alt="pago facil" />
      </div>
      <div class="slide-small">
        <img src="/images/networks-logo/rapipago.png" alt="rapipago" id="rapipago"/>
      </div>
      <div class="slide-small">
        <img src="/images/networks-logo/pagomiscuentas.png" alt="pagomiscuentas" />
      </div>
      <div class="slide-small">
        <img src="/images/networks-logo/payway.png" alt="payway" />
      </div>
    </div>

    <hr class="w-full mt-10 mb-8 sm:mt-20 sm:mb-16 bg-[#ffffff] opacity-80"/>)
  }

  <div class="w-full flex flex-col items-center">
    <figure class="mb-6">
      <img
        src="/images/logo-bitcom-light.png"
        alt="logo-bitcompay"
        class="h-6"
      />
    </figure>
    <figure class="mb-8">
      <img src="/images/data-fiscal.png" class="h-20" />
    </figure>
    <ul class="flex justify-center gap-6">
      <li class="text-[#FFFFFF] underline text-xs text-center opacity-80 cursor-pointer">
        <a href="/politics">Politicas de privacidad</a>
      </li>
      <li class="text-[#FFFFFF] underline text-xs text-center opacity-80 cursor-pointer">
        <a href="/politics">Defensa del consumidor</a>
      </li>
    </ul>
    <p class="text-[#FFFFFF] w-full text-center mt-6 mb-2">
      © 2024 Bitcompay. Todos los derechos reservados
    </p>
  </div>
</section>

<style>
  .home-5 {
    background-color: #212121;
    margin-top: 10rem;
    border-top-left-radius: 90px;
    border-top-right-radius: 90px;
    padding: 4rem 2rem 0.5rem;
  }
  .slide img{
    width: 5vw;
    /* max-width: 65px; */
    height:auto;
  }
  .slide-small img{
    width: 12vw;
   max-width: 157px;
    height:auto;
  }
  #rapipago{
    width: 8vw;
    max-width: 104px;
    height:auto;
  }
  @media (max-width: 768px) {
    .home-5 {
      margin-top: 5rem;
      border-top-left-radius: 40px;
      border-top-right-radius: 40px;
    }
    .slide img{
    width: 10vw;
    height:auto;
  }
  .slide-small img{
    width: 20vw;
    height:auto;
  }
  #rapipago{
    width: 11vw;
    height:auto;
  }
  }
</style>
