---
interface Props{
    title: string;
    content: string;
    iconUrl: string;
    iconAlt:string
}
const { title, content, iconUrl, iconAlt} = Astro.props;
---

<div class="rounded-[10px] bg-[#F7F7F7] pt-2 md:pt-4 pb-2 md:pb-6 px-4 md:px-6 dark:backdrop--blur__safari dark:backdrop-filter
      dark:backdrop-blur-4xl dark:bg-opacity-20">
    <div class="card-content">
      <div class="card-icon">
        <img src={iconUrl} alt={iconAlt}/>
      </div>
      <div class="flex flex-col gap-2">
        <h3 class="text-[0.9rem] font-[600] uppercase text-[#5034F2] dark:text-[#9D8CFD]">{title}</h3>
        <p class="card-text">
          {content}
        </p>
      <div>
    </div>
  </div>


  <style>
  .card-text {
    font-size: 0.9rem;
    font-weight: 500;
  }

  .card-icon {
    border-radius: 9999px;
    padding: 0.5rem;
    background-color: #DEF5DD;
    display: inline-flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  .card-icon img {
    width: 1.5rem;
    height: auto;
  }

  </style>