---
interface Props{
    title: string;
    subtitle: string;
    color?: string;
    subColor?:string;
}
const {title, subtitle, subColor, color} = Astro.props;
---

<div class="flex flex-col items-center text-center">
    <h2 class={`text-[#85ce81] uppercase text-[1.4rem] font-[600] ${color}`}>{title}</h2>
    <p class={`font-[500] w-[66%] text-[1.8rem] ${subColor}`}>{subtitle}</p>
</div>