---
interface Props {
  title: string;
  subtitle: string;
  color?: string;
  subColor?: string;
}
const { title, subtitle, subColor, color } = Astro.props;
// subcolor es decir color en dark mode opcional
---


<div class="flex flex-col items-center text-center">
  <h2 id="title" class={`text-[#85ce81] uppercase font-[600] ${color}`}>
    {title}
  </h2>
  <p id="subtitle" class={`font-[500] w-[85%] md:w-[66%] ${subColor}`}>
    {subtitle}
  </p>
</div>

<style>
  #title {
    font-size: 0.8rem;
    font-size: clamp(0.8rem, 0.8rem + 0.5999999999999999vw, 1.4rem);
  }

  #subtitle {
    font-size: 0.9rem;
    font-size: clamp(0.9rem, 0.76rem + 0.90010000000000vw, 1.8rem);
  }
</style>
