---
type optionsPage = "home" | "politics";
interface Props {
  title: string;
  page: optionsPage;
}

const { title, page } = Astro.props;

const pageStyles: Record<optionsPage, string> = {
  home: "bg-landing-light dark:bg-landing-dark",
  politics: "bg-[#eae9e9] dark:bg-[#131313]",
};
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <!--ROBOTO-->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <title>{title}</title>
  </head>
  <body class={`dark:text-[#ffffff] ${pageStyles[page]}`}>
    <slot />

    <!--CARROUSEL-->
    <script
      src="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/js/swiffy-slider.min.js"
      crossorigin="anonymous"
      defer></script>
    <link
      href="https://cdn.jsdelivr.net/npm/swiffy-slider@1.6.0/dist/css/swiffy-slider.min.css"
      rel="stylesheet"
      crossorigin="anonymous"
    />
  </body>
</html>
<style is:global>
  @import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
  @tailwind base;
  @tailwind components;
  @tailwind utilities;
  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", sans-serif;
  }
  html, body {
    overflow-x: hidden;
  }
  body {
    color: #3e3e3e;
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-size: cover; /* Ajusta la imagen para que cubra todo el viewport */
    background-position: center; /* Centra la imagen en el viewport */
  }
</style>
